@page "{id:int}"
@model RAZOR_LibraryManagement.Web.Pages.Books.DetailsModel
@{
}
<div class="container">
    <h1>@Model.vmBookDetails.Title</h1>
    <img src="@Model.vmBookDetails.ImageUrl" width="250" />
</div>