@page
@model RAZOR_LibraryManagement.Web.Pages.Books.ListModel
@{
    ViewData["Title"] = "Books list";
}

<div class="container">
    <h1 class="text-dark mb-3">Books list</h1> @* <-- TODO link from resource file*@
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Title @* <-- TODO link from resource file*@
                </th>
                <th>
                    Author @* <-- TODO link from resource file*@
                </th>
                <th>
                    Actions @* <-- TODO link from resource file*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.vmBookIndexList)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td class="d-flex">
                        <a href="/Books/Details/@book.Id"><i class="bi bi-book btn-outline-success"></i></a>
                        <div>
                            @if (book.IsBorrowable)
                            {
                                <i class="bi bi-check-lg btn-outline-success mx-3"></i>
                            }
                            else
                            {
                                <i class="bi bi-x-lg btn-outline-danger mx-3"></i>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
