@page
@using RAZOR_LibraryManagement.Domain.ViewModels;
@model RAZOR_LibraryManagement.Web.Pages.Books.ListModel
@{ 
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.vmBookIndexList)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
</div>
