@page
@model RAZOR_LibraryManagement.Web.Pages.Admins.AdminsListModel
@{
    ViewData["Title"] = "Admins list";
}

<h1 class="text-dark mb-3">Admisn list</h1>

<div class="container">
    <partial name="_Notification" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Admin user
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model.vmAdminUserList)
            {
                <tr>
                    <td>@admin.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
