@page
@model RAZOR_LibraryManagement.Web.Pages.Categories.ListModel
@using RAZOR_LibraryManagement.Lang.Category
@{
    ViewData["Title"] = "Categories list";
}

<h1 class="text-dark mb-3">@CategoriesList.Title</h1> 
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @CategoriesList.Category
                </th>
                <th>
                    @CategoriesList.IsActive
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.vmCategoryIndexList)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        @if (category.IsActive)
                        {
                            <i class="bi bi-check-lg btn-outline-success mx-3"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-lg btn-outline-danger mx-3"></i>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
