@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> sigInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RAZOR_LibraryManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RAZOR_LibraryManagement.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="">Library Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (sigInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (sigInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" role="button" 
                                        aria-expanded="false" id="navBarSAMenu">SA Menu</a>
                                    <ul class="dropdown-menu" aria-labelledBy="navBarSAMenu">
                                        <li>
                                            <a class="dropdown-item" href="/admins/create">Create Admin</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/admins/configurations">App config</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" role="button"
                               aria-expanded="false" id="navBarBooks">Books</a>
                                <ul class="dropdown-menu" aria-labelledBy="navBarBooks">
                                    <li>
                                        <a class="dropdown-item" href="/books/list">List books</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/books/create">Create book</a> @* TODO: Add the link qhen page is done*@
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" role="button"
                               aria-expanded="false" id="navBarUsers">Users</a>
                                <ul class="dropdown-menu" aria-labelledBy="navBarUsers">
                                    <li>
                                        <a class="dropdown-item" href="/users/list">List users</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/users/create">Create user</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown" role="button"
                               aria-expanded="false" id="navBarCategories">Categories</a>
                                <ul class="dropdown-menu" aria-labelledBy="navBarCategories">
                                    <li>
                                        <a class="dropdown-item" href="/categories/list">List categories</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/categories/create">Create category</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-dark" href="/bookusers/create">Assign book</a>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center">

                            <div class="me-3 text-black">
                                @User?.Identity?.Name
                            </div>
                            <a href="/Logout" class="btn btn-primary text-light me-3">Logout</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Datecasp - 2023 - RAZOR_LibraryManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>